body{
  margin: 0;
  background: #90caf9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.nav-container{
  padding: 20px;
}
nav{
  height: 108px;
}
.modal {
  width: 420px;
}
.container_content{
  display: flex;
  justify-content: center;
}
.content_block {
  width: 800px;
  margin-top: 50px;
  margin-bottom: 35px;
}
.button_submit {
  margin-top: 30px;
  margin-bottom: 20px;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  width: 100%;
}
.button_submit:hover{
  background: lightgray;
}
.footer-copyright {
  border-top: 1px solid gray;
}