body{
  margin: 0;
  background: #fafafa;
  display: flex;
  color: black;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.nav-container{
  padding: 20px;
}
nav{
  height: 108px;
}
.modal {
  width: 420px;
}
.container_content{
  display: flex;
  justify-content: center;
}
.content_block {
  width: 720px;
  margin-top: 100px;
  margin-bottom: 35px;
}
.button_submit {
  margin-top: 30px;
  margin-bottom: 20px;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  width: 100%;
}
.button_submit:hover{
  background: lightgray;
}
.footer-copyright {
  border-top: 1px solid gray;
}

.category_style {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}
.category_style:hover {
  -ms-transform: scale(1.125); /* IE 9 */
  -webkit-transform: scale(1.125); /* Safari 3-8 */
  transform: scale(1.125);
  border: 2px solid gray;
}

.addition_layout {
  background-image: url("../images/ui/add-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.subtraction_layout {
  background-image: url("../images/ui/subtract-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.multiplication_layout {
  background-image: url("../images/ui/multiply-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.division_layout {
  background-image: url("../images/ui/divide-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}