body {
  background: #90caf9;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
  background: #42A5F5;
  padding: 10px;
  border-bottom: solid 1px #707070;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
  display: flex;
}


/* START==LOGIN FORM MODAL== */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* END==LOGIN FORM MODAL== */

.title {
  
}
.title_style{
  text-shadow: 1px 1px black;
}